.todos__single {
	display: flex;
	border-radius: 5px;
	padding: 20px;
	margin-top: 15px;
	background-color: #E9C41D;
	transition: 0.2s;

	.todos__single--text {
		flex: 1;
		padding: 5px;
		border: none;
		font-size: 20px;
	}

	.todos__single--text:focus {
		outline: none;
	}

	.icon {
		margin-left: 10px;
		font-size: 25px;
		cursor: pointer;
	}
}

.todos__single:hover {
	box-shadow: 0 0 5px #000;
	transform: scale(1.03);
}